footer {
    height: 150px;
    background-color: $site-blue;
    color: $site-white;
  
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
    //font-family: CRegular;
    font-size: 18px;
  
    .link-footer {
      width: 600px;
      display: flex;
      justify-content: center;
      padding: 0 60px;
    }
    a {
      margin: 0 30px;
      font-size: 22px;
      text-decoration: none;
      color: $site-white;
    }
    p {
      margin-top: 30px;
    }
    .line {
      background-color: #000;
      height: 2px;
      width: 600px;
      margin-top: 10px;
    }
  }
  