* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body {
  height: 100%; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px; }

.app {
  min-height: 100vh;
  position: relative; }

@font-face {
  font-family: CRegular;
  src: url(../fonts/Caveat-Regular.ttf); }

@font-face {
  font-family: CBold;
  src: url(../fonts/Caveat-Bold.ttf); }

@font-face {
  font-family: GillLight;
  src: url(../fonts/GillSans-Light.ttf); }

@font-face {
  font-family: Gill;
  src: url(../fonts/GillSans.ttf); }

@font-face {
  font-family: GillItalic;
  src: url(../fonts/GillSans-Italic.ttf); }

@font-face {
  font-family: LatoBlack;
  src: url(../fonts/Lato-Black.ttf); }

@font-face {
  font-family: Lato;
  src: url(../fonts/Lato-Regular.ttf); }

h1 {
  font-family: LatoBlack; }

h2 {
  font-family: LatoBlack; }

h3 {
  font-family: GillLight; }

p {
  font-family: GillLight; }

a {
  font-family: GillLight; }

nav {
  z-index: 99;
  height: 100px;
  width: 100%;
  background-color: #0075fa;
  position: relative;
  font-family: CRegular;
  font-size: 25px; }
  nav #main-nav {
    display: block; }
    nav #main-nav .logo {
      color: #d6f6ff;
      height: 100px;
      width: 200px;
      position: relative;
      padding-top: 20px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url(../images/site-logo-1.png);
      display: flex;
      left: 100px;
      justify-content: space-around;
      align-items: center; }
    nav #main-nav .link-nav-1 {
      height: 50px;
      width: 32%;
      min-width: 300px;
      margin: -100px calc(45% + 50px);
      display: flex;
      right: 100px;
      justify-content: space-around;
      align-items: center; }
    nav #main-nav .link-nav-2 {
      height: 50px;
      width: 32%;
      min-width: 300px;
      margin: 100px calc(45% + 55px);
      display: flex;
      right: 100px;
      justify-content: space-around;
      align-items: center; }
    nav #main-nav .link-nav-account {
      height: 60px;
      width: 160px;
      margin: -180px calc(80% + 80px);
      display: flex;
      left: 100px; }
      nav #main-nav .link-nav-account .navlogin {
        display: block;
        height: 60px;
        width: 70px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(../images/login-button.png); }
      nav #main-nav .link-nav-account .navsignout {
        display: block;
        height: 60px;
        width: 70px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(../images/signout-button.png); }
      nav #main-nav .link-nav-account .navcart {
        display: block; }
  nav a {
    text-decoration: none;
    color: #fff; }

@media only screen and (max-width: 768px) {
  nav #main-nav {
    display: none; } }

#menuToggle {
  display: none;
  position: relative;
  top: 40px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none; }

#menuToggle a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease; }

#menuToggle a:hover {
  color: #0075fa; }

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 99;
  /* and place it over the hamburger */
  -webkit-touch-callout: none; }

/*
   * Just a quick hamburger
   */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 2;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; }

#menuToggle span:first-child {
  transform-origin: 0% 0%; }

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%; }

/* 
   * Transform all the slices of hamburger
   * into a crossmark.
   */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323; }

/*
   * But let's hide the middle one.
   */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2); }

/*
   * Ohyeah and the last one should go the other direction
   */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px); }

/*
   * Make this absolute positioned
   * at the top left of the screen
   */
#menu {
  z-index: 1;
  position: absolute;
  width: 100%;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  display: flex;
  flex-direction: column;
  background: #cdcdcd;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(0, -100%);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }

#menu a {
  padding: 10px 0;
  font-size: 22px;
  font-family: GillItalic; }

/*
   * And let's slide it in from the left
   */
#menuToggle input:checked ~ ul {
  transform: none; }

@media only screen and (max-width: 768px) {
  #menuToggle {
    display: block; } }

footer {
  height: 150px;
  background-color: #0075fa;
  color: #fff;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 18px; }
  footer .link-footer {
    width: 600px;
    display: flex;
    justify-content: center;
    padding: 0 60px; }
  footer a {
    margin: 0 30px;
    font-size: 22px;
    text-decoration: none;
    color: #fff; }
  footer p {
    margin-top: 30px; }
  footer .line {
    background-color: #000;
    height: 2px;
    width: 600px;
    margin-top: 10px; }

.home {
  background-color: #c0e4ff;
  min-height: 1000px;
  padding: 50px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(to right, rgba(192, 228, 255, 0.6), rgba(192, 228, 255, 0.6)), url(../images/white-layer-bg.jpeg); }
  .home h1 {
    display: flex;
    justify-content: center;
    font-size: 40px; }
  .home h2 {
    display: flex;
    justify-content: center;
    font-size: 30px; }
  .home .scrollbar {
    margin: 80px 0;
    height: 300px;
    width: 100%;
    background-color: #0b417e;
    display: flex; }
    .home .scrollbar .left_button {
      background-color: #3288ff;
      height: 300px;
      width: 50px;
      float: left;
      font-size: 40px;
      padding-top: 125px;
      padding-left: 15px; }
    .home .scrollbar .right_button {
      background-color: #3288ff;
      height: 300px;
      width: 50px;
      float: right;
      font-size: 40px;
      padding-top: 125px;
      padding-right: 15px; }
    .home .scrollbar .left_button:hover {
      background-color: #93b6e9; }
    .home .scrollbar .right_button:hover {
      background-color: #93b6e9; }
    .home .scrollbar .scroll_items {
      background-color: #c0e4ff;
      width: 93.4%;
      height: 100%;
      display: flex;
      justify-content: center; }
      .home .scrollbar .scroll_items .scroll_item {
        background-color: #fff;
        width: 200px;
        height: 250px;
        margin: 25px 1%;
        padding: 5px; }
        .home .scrollbar .scroll_items .scroll_item .image {
          width: 160px;
          height: 160px; }
      .home .scrollbar .scroll_items .scroll_item:hover {
        border: 2px solid #000; }

@media only screen and (max-width: 768px) {
  .home .scrollbar .scroll_items .scroll_item {
    margin: 15px 4px; } }

.games {
  background-color: #c0e4ff;
  min-height: 800px;
  padding-top: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(to right, rgba(0, 117, 250, 0.5), rgba(0, 117, 250, 0.5)), url(../images/white-layer-bg.jpeg); }
  .games h1 {
    display: flex;
    justify-content: center;
    font-size: 40px; }
  .games p {
    display: flex;
    justify-content: center;
    font-size: 24px; }
  .games #product_game {
    width: 100%;
    min-height: 400px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding-left: 10%; }
    .games #product_game .itemblock {
      width: 280px;
      height: 400px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      background-color: #fff;
      margin: 12px;
      box-shadow: 0px 2px 2px #999; }
      .games #product_game .itemblock .image {
        width: 160px;
        height: 220px; }
      .games #product_game .itemblock .content {
        height: 200px; }
      .games #product_game .itemblock .getinfo {
        width: 230px;
        height: 60px;
        border: 2px solid #0075fa;
        text-decoration: none;
        color: #111;
        text-align: center;
        padding-top: 10px;
        align-self: center;
        font-size: 16px;
        font-family: LatoBlack; }
      .games #product_game .itemblock .getinfo:hover {
        border: 2px solid #000; }
      .games #product_game .itemblock .saleblock {
        display: flex; }
        .games #product_game .itemblock .saleblock h4 {
          color: #da0d0d;
          font-family: Lato; }
      .games #product_game .itemblock .truck {
        display: flex; }
        .games #product_game .itemblock .truck .truck-icon {
          width: 32px;
          height: 20px;
          margin-right: 10px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url(../images/truck.svg); }
      .games #product_game .itemblock h3 {
        font-size: 16px;
        font-family: Lato; }
      .games #product_game .itemblock h4 {
        font-size: 20px;
        font-family: Lato; }
      .games #product_game .itemblock h5 {
        font-size: 16px;
        font-family: Lato; }
      .games #product_game .itemblock p {
        font-size: 14px;
        font-family: Lato;
        padding-left: 10px;
        color: #999; }
    .games #product_game .itemblock:hover {
      border: 2px solid #000; }

.hardware {
  background-color: #c0e4ff;
  min-height: 800px;
  padding-top: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(to right, rgba(0, 117, 250, 0.5), rgba(0, 117, 250, 0.5)), url(../images/white-layer-bg.jpeg); }
  .hardware h1 {
    display: flex;
    justify-content: center;
    font-size: 40px; }
  .hardware p {
    display: flex;
    justify-content: center;
    font-size: 24px; }
  .hardware #product_hardware {
    width: 100%;
    min-height: 400px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding-left: 10%; }
    .hardware #product_hardware .itemblock {
      width: 280px;
      height: 400px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      background-color: #fff;
      margin: 12px;
      box-shadow: 0px 2px 2px #999; }
      .hardware #product_hardware .itemblock .image {
        width: 200px;
        height: 220px; }
      .hardware #product_hardware .itemblock .content {
        height: 200px; }
      .hardware #product_hardware .itemblock .getinfo {
        width: 230px;
        height: 60px;
        border: 2px solid #0075fa;
        text-decoration: none;
        color: #111;
        text-align: center;
        padding-top: 10px;
        align-self: center;
        font-size: 16px;
        font-family: LatoBlack; }
      .hardware #product_hardware .itemblock .getinfo:hover {
        border: 2px solid #000; }
      .hardware #product_hardware .itemblock .saleblock {
        display: flex; }
        .hardware #product_hardware .itemblock .saleblock h4 {
          color: #da0d0d;
          font-family: Lato; }
      .hardware #product_hardware .itemblock .truck {
        display: flex; }
        .hardware #product_hardware .itemblock .truck .truck-icon {
          width: 32px;
          height: 20px;
          margin-right: 10px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url(../images/truck.svg); }
      .hardware #product_hardware .itemblock h3 {
        font-size: 16px;
        font-family: Lato; }
      .hardware #product_hardware .itemblock h4 {
        font-size: 20px;
        font-family: Lato; }
      .hardware #product_hardware .itemblock h5 {
        font-size: 16px;
        font-family: Lato; }
      .hardware #product_hardware .itemblock p {
        font-size: 14px;
        font-family: Lato;
        padding-left: 10px;
        color: #999; }
    .hardware #product_hardware .itemblock:hover {
      border: 2px solid #000; }

.contact {
  background-color: #c0e4ff;
  min-height: 560px;
  padding: 40px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(to right, rgba(192, 228, 255, 0.6), rgba(192, 228, 255, 0.6)), url(../images/white-layer-bg.jpeg);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .contact h1 {
    display: flex;
    justify-content: center;
    font-size: 40px; }
  .contact h2 {
    display: flex;
    font-size: 30px; }
  .contact p {
    display: flex;
    font-size: 20px; }
  .contact .content {
    background-color: #c0e4ff;
    height: 400px;
    width: 640px;
    padding: 50px; }

.search {
  background-color: #c0e4ff;
  min-height: 560px;
  padding: 40px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(to right, rgba(192, 228, 255, 0.6), rgba(192, 228, 255, 0.6)), url(../images/white-layer-bg.jpeg);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.productinfo {
  background-color: #c0e4ff;
  min-height: 800px;
  padding-top: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(to right, rgba(0, 117, 250, 0.5), rgba(0, 117, 250, 0.5)), url(../images/white-layer-bg.jpeg);
  align-items: center;
  justify-content: center; }
  .productinfo h1 {
    display: flex;
    justify-content: center;
    font-size: 40px; }
  .productinfo #infocontent {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: linear-gradient(to right, rgba(192, 228, 255, 0.5), rgba(192, 228, 255, 0.5)), url(../images/white-layer-bg.jpeg); }
    .productinfo #infocontent .itemblock {
      display: flex; }
      .productinfo #infocontent .itemblock .content {
        padding: 40px; }
      .productinfo #infocontent .itemblock .image {
        padding-top: 40px;
        height: 80%; }
      .productinfo #infocontent .itemblock .buynow {
        width: 160px;
        height: 80px;
        background-color: #0075fa;
        margin-top: 100px;
        padding: 30px;
        border-radius: 40px;
        font-size: 20px; }

.login {
  height: 500px;
  width: 100%;
  margin: 0 auto;
  background-color: #c0e4ff;
  display: flex;
  align-items: center;
  justify-content: center; }
  .login section {
    width: 740px;
    min-height: 500px;
    display: flex;
    justify-content: space-between; }
    .login section input {
      border: 2px solid #000;
      padding: 10px;
      width: 100%;
      margin-top: 20px; }
    .login section .login-here {
      margin-top: 160px;
      width: 210px;
      height: 420px; }
      .login section .login-here h1 {
        color: #0b417e;
        font-family: LatoBlack;
        font-size: 30px; }
      .login section .login-here h4 {
        color: #0b417e;
        font-family: LatoItalic;
        font-size: 12px; }
    .login section .sign-up-here {
      margin-top: 60px;
      width: 250px;
      height: 500px; }
      .login section .sign-up-here h1 {
        color: #0b417e;
        font-family: LatoBlack;
        font-size: 30px; }
      .login section .sign-up-here h4 {
        color: #0b417e;
        font-family: LatoItalic;
        font-size: 12px; }
    .login section .login_button {
      display: flex;
      justify-content: center;
      align-self: center;
      margin-top: 50px;
      padding-top: 8px;
      width: 100%;
      height: 50px;
      background-color: #0b417e;
      color: #fff;
      border-radius: 50px;
      font-family: GillLight;
      font-size: 25px; }
    .login section .login_button:hover {
      background-color: #0075fa; }
    .login section a {
      text-decoration: none; }
