.search {
    background-color: $site-background;
    min-height: 560px;
    padding: 40px 0;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: linear-gradient(to right, rgba($site-background, 0.6), rgba($site-background, 0.6)), 
            url(../images/white-layer-bg.jpeg);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}