#modal {
    z-index: 99;
    display: none;
    background-color: $site-background;
    width: 400px;
    height: 250px;
    border: 1px solid #000;
  
    position: fixed;
    left: calc(50% - 200px);
    z-index: 99;
  
    text-align: center;
  
    h1 {
      padding-top: 40px;
      font-family: LatoBlack;
      font-size: 24px;
    }
  
    p {
      font-family: LatoBlack;
      font-size: 16px;
    }
  }