nav {
  z-index: 99;
  height: 100px;
  width: 100%;
  background-color: $site-blue;
  position: relative;

  font-family: CRegular;
  font-size: 25px;

  #main-nav {
    display: flex;
    .logo {
      color: #d6f6ff;
      height: 100px;
      width: 200px;
      position: relative;
      padding-top: 20px;

      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url(../images/site-logo-1.png);

      display: flex;
      left: 100px;
      justify-content: space-around;
      align-items: center;
    }

    .link-nav-block {
      //background-color: rgb(243, 155, 48);
      flex-direction: column;
      width: 40%;

      position: fixed;
      float: right;
      right: 150px;
    }

    .link-nav-1 {
      height: 50px;
      width: 100%;
      min-width: 300px;

      display: flex;
      right: 100px;
      justify-content: space-around;
      align-items: center;
    }
    .link-nav-2 {
      height: 50px;
      width: 100%;
      min-width: 300px;

      display: flex;
      right: 100px;
      justify-content: space-around;
      align-items: center;
    }
    .link-nav-account {
      //background-color: rgb(144, 172, 21);
      height: 60px;
      width: 160px;

      position: fixed;
      float: right;
      right: 0;
      top: 20px;
      

      .navlogin {
        display: block;
        //background-color: rgb(144, 172, 21);
        height: 60px;
        width: 70px;
    
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(../images/login-button.png);
      }
      .navsignout {
        display: block;
        //background-color: rgb(255, 214, 49);
        height: 60px;
        width: 70px;
    
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(../images/signout-button.png);
      }

      .navcart {
        display: block;
      }
    }
  }
  
  a {
    text-decoration: none;
    color: $site-white;
  }
}

@media only screen and (max-width: 768px) {
  nav {
    #main-nav {
      display: none;
    }
  }
}

